In [111]:
#Import modules
import os 
import csv

#csv pathcd
_csv =  os.path.join('Resources','budget_data.csv')



total_sum = 0

#Read CSV with CSV module
with open(_csv) as csvfile:
    #Specify delimiter
    csvreader = csv.reader(csvfile, delimiter=',')
    csv_header = next(csvreader)
    data = list(csvreader)

    data1 = data[0]

    list1 = _csv[0]

    print(len(data))
    

    #d1 = [item[1]] for item in data]
    total_sum = 0

    profit = data[1]

    for row in (data):
        total_sum = int(row[1]) + total_sum

    i = 0
    change = []
    lastvalue = 0
    average_change =0

    #Total Profit/Loss
    for row in (data):
        total_sum = float(row[1]) + total_sum
        if i > 0:
            change.append((float(row[1])-lastvalue ))
        lastvalue = float(row[1]) 
        i +=1
        
       #Average change
    for v in change:
        average_change = average_change + v
    
    average_change = round(average_change/len(change),2)

    #Maximum Profit
    max_changeprofit = max(change)
    min_changeprofit = min(change)

    a = change.index(max_changeprofit)

86

In [112]:
#def legend():
#    a = def_dict1.get(Raw_tbl["Depth"][1], def_dict1[min(def_dict1.keys(), key=lambda k: abs(k-Raw_tbl['Depth'][1]))])
#    return a

In [113]:

#min(def_dict1, key=lambda x:abs(x-def_dict1[x]))
f_df = m_df

def Depth_(x):
    a = def_dict1.get(x, def_dict1[min(def_dict1.keys(), key=lambda k: abs(k-x))])
    return a

f_df['Comment'] = f_df['Depth'].apply(lambda x: Depth_(x-1))

f_df

NameError: name 'm_df' is not defined

In [ ]:
#Add Legend to Master table 
f_df.loc[(f_df['Depth'] <= 1000), 'Comment'] = 'Sand' 
f_df.loc[(f_df['Depth'] <= 2500) & (f_df['Depth'] > 1000), 'Comment'] = 'Silt'
f_df.loc[(f_df['Depth'] >= 4000), 'Comment'] = 'Coal'  

f_df.head()

   Depth Comment
0   1005    Silt
1   2000    Silt
2   3600    Coal
3   4000    Coal
4    999    Sand